/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

[class*="col-"]{
    flex-grow: 0;
    flex-shrink: 0;
    height: 4rem;
    border: 1px solid #ffffff;
    background-color: blue;
}

[class*="box"]{
    flex-wrap: nowrap;
    padding: 1rem;
}

[class*="nested"]{
    height: 2rem;
    border: 1px solid blue;
    background-color: yellowgreen;
}